<div class="ui grid">
  <div style="display: block; font-size: 36px; font-weight: 300;">Today
    <span style="font-size: 16px;">
      <%= DateTime.now.strftime("%A, %B #{DateTime.now.day.ordinalize} %Y") %>
    </span>
  </div>
</div>
<br><br>
<div class="ui grid">
  <div class="one wide column">
    <i class="ui user secret huge grey icon"></i>
  </div>
  <div class="fifteen wide column middle aligned">
    <%= greet %>, <em><%= current_user.firstname.blank? ? current_user.email : current_user.firstname.titleize %></em> <br><br>
  </div>
  <div class="eight wide column">
    <div class="ui blue inverted segment">
      <strong>TASKS</strong><br><br>
      These are the <strong><%= @next_tasks.size %></strong>
      most important tasks on your list: <br>
      <ul class="dashboard-list">
        <% @next_tasks.each do |task| %>
          <li>
            <i class="ui chevron right small icon"></i>
            <%= link_to "#{task.title} <small>(#{task.category.title})</small>".html_safe, task, class: 'blue-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui green inverted segment">
    </div>
  </div>
  <div class="four wide column">
    <div class="ui orange inverted segment">
    </div>
  </div>
</div>
