<%= form_with(model: @note, html: { class: 'form', novalidate: true }) do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>

  <div class="card shadow-sm bordered p-4">
    <div class="form-group mb-4">
      <%= f.text_field :title, class: 'form-control form-control-lg', placeholder: 'Untitled note' %>
    </div>

    <div class="form-group mb-4">
      <%= f.collection_select :tag_list, @tags, :id, :name, {selected: @note.tag_list.ids},
            {
              id: "form-category-select",
              class: 'form-control tag-picker',
              multiple: true
            } %>
    </div>

    <div class="form-group mb-4">
      <%= f.text_area :content, size: "30x20", id: 'note-content' %>
    </div>

    <div class="form-group mb-4">
      <div class="pretty p-icon p-default p-round p-smooth p-fill">
        <%= f.check_box :favorite %>
        <div class="state p-warning">
          <i class="icon fa fa-check"></i>
          <%= f.label :favorite %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-12 col-lg-6">
        <div class="form-group">
          <%= f.label :category_id %>
          <%= f.collection_select :category_id, @categories, :id, :title, {},
            {
              id: "form-category-select",
              class: 'form-control selectpicker show-tick',
              data: {live_search: "true", width: '100%'}
            } %>
        </div>
      </div>
    </div>

    <hr />
    <h6 class="mt-2 text-bold">ATTACHMENTS</h6>
    <% if @note.attachments.any? %>
      <div class="form-row mb-4">
        <% @note.attachments.each do |att| %>
          <div class="col-md-12 attachment-item-<%= att.id %>">
            <div class="card bordered rounded-lg bg-white mt-2 mr-0 px-3 py-3">
              <div>
                <div class="text-soft d-inline-block" style="width: 35px;">
                  <%= File.extname(att.filename.to_s).strip.upcase[1..-1] %>
                </div>
                <% if att.previewable? %>
                <%= image_tag att.preview(combine_options: {
                                              auto_orient: true,
                                              gravity: "center",
                                              resize: "24x24^",
                                              crop: "24x24+0+0"
                                              }), class: 'ml-2' %>
              <% elsif att.variable? %>
                <%= image_tag att.variant(combine_options: {
                                              auto_orient: true,
                                              gravity: "center",
                                              resize: "24x24^",
                                              crop: "24x24+0+0"
                                              }), class: 'ml-2' %>
              <% else %>
                <div class="ml-2 text-soft d-inline-block middle-align text-center" style="width: 24px; height: 24px;">
                  <i class="fa fa-paperclip"></i>
                </div>
              <% end %>
                <%= link_to att.filename.to_s, url_for(att), target: "_blank", class: 'link-purple ml-2' %>
                <div class="float-right">
                  <%= link_to "<i class='fa fa-trash ml-2' style='font-size: 18px;'></i>".html_safe,
                    "#",
                    id: "js-att-id-#{att.id}",
                    class: "link-purple ml-2 js-delete-attachment",
                    data: { turbolinks: false } %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="form-row">
        <div class="col-12 col-lg-6">
          <div class="form-group">
            Add one or multiple attachments:  <br/><br/>
            <label class="btn btn-sm btn-outline-purple">
              BROWSE FILES
              <span style="display:none;">
                <%= f.file_field :attachments, multiple: true, direct_upload: true %>
              </span>
            </label>
            
          </div>
        </div>
      </div>
    <%= hidden_field_tag :current_guid, @note.guid if @note %>

    <hr />
    <div class="actions">
      <div class="row">
        <div class="col-5">
          <% if @note.id %>
            <%= link_to 'DELETE NOTE',
                        "#",
                        class: "btn btn-sm btn-outline-danger",
                        data: { toggle: "modal", target: "#delete-#{@note.id}", turbolinks: false }
                        %>
            <%= render partial: 'delete_modal' %>
          <% end %>
        </div>
        <div class="col-7 text-right">
          <%= f.submit "SAVE", class: "btn btn-sm btn-purple" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
