<div class="px-4">
  <table id="notes-table" class="table mb-0">
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      <% items = notes_list ? notes.includes(:category, :tags, :taggings) : notes %>
      <% items.each do |item| %>
        <tr class="list-row">
          <td class="">
            <% if item.favorite %>
              <i class="fa fa-star text-warning fa-fw mr-3" style="margin-left: -38px;"></i>
            <% end %>
            <%= link_to item.title,
                  item,
                  class: 'list-item link-purple mr-2 align-middle',
                  data: { turbolinks: false }
                  %>
            <div class="align-middle float-right d-inline-block ml-4">
              <% if current_user.has_attachments_addon? && item.attachments.any? %>
                <i class="fa fa-paperclip text-soft"></i>
              <% end %>
              <% if current_user.has_dg_addon? && item.dg_enabled %>
                  <span class='mrl-2 nalign-middle'><i class="fa fa-leaf text-success fa-fw"></i></span>
                <% end %>
              <% if item.is_public? %>
                <span class='badge badge-success prl-2'><i class="fa fa-globe text-white fa-fw"></i> Public</span>
              <% end %>
              <% if notes_list || @category != item.category %>
                <%= link_to "<span class='badge badge-light'>#{item.category.title}</span>".html_safe,
                    category_path(item.category.slug),
                    data: { turbolinks: false }
                    %>
              <% end %>
              <%= note_tag_links(item, :index) %>
            </div>
          </td>
          <td class="text-right text-soft align-middle" style="width: 102px;">
            <div>
              <%= link_to '<i class="fa fa-leaf"></i>'.html_safe,
                          make_included_in_dg_note_path(item.guid),
                          class: "text-soft link-purple-light list-icon ml-2"
                          %>
              <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                          edit_note_path(item.guid),
                          class: "text-soft link-purple-light list-icon ml-2",
                          data: { turbolinks: false }
                          %>
              <%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                          '#',
                          class: "text-soft link-purple-light list-icon ml-2",
                          data: { toggle: "modal", target: "#delete-#{item.id}", turbolinks: false }
                          %>
            </div>
            <%= render partial: 'delete_modal', locals: {note: item} %>
            <%# "#{distance_of_time_in_words(Time.now, item.updated_at)}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>