<div class="row mb-4">
  <div class="col-12 mt-3 mt-sm-0 col-lg-10">
    <h3 class="note-input-header">
      <%= @note.title %>
    </h3>
  </div>
  <div class="col-12 col-lg-2 text-right align-middle my-auto">
    <span class="mr-4">
      <% if @note.favorite %>
        <i class="fa fa-star text-warning mr-2"></i>
      <% end %>
      <% if @note.dg_enabled %>
        <i class="fa fa-leaf text-success mr-2"></i>
      <% end %>
      <% if @note.is_public? %>
        <i class="fa fa-globe text-success mr-2"></i>
      <% end %>
      <% if @note.is_private? %>
        <i class="fa fa-globe text-secondary mr-2"></i>
      <% end %>
    </span>
    <%= link_to '<i class="fas fa-pencil-alt"></i>'.html_safe,
                    edit_note_path(@note.guid),
                    class: "link-purple-soft mr-3 my-auto",
                    data: { turbolinks: false, toggle: 'tooltip', title: "Edit note" }
                    %>
  </div>
</div>

<div class="row mt-1 mb-2">
  <div class="col-12">
    <div class="d-flex flex-row justify-content-start mb-1">
      <div class="align-middle my-auto"><i class="fa fa-folder text-secondary"></i></div>
      <div class="ml-3">
        <% if @note.category.is_a_project? %>
          <%= link_to @note.category.title, project_path(@note.category.slug),
              class: "badge badge-light note-show-badge", data: { turbolinks: false } %>
        <% else %>
          <%= link_to @note.category.title, category_path(@note.category.slug),
              class: "badge badge-light note-show-badge", data: { turbolinks: false } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="d-flex flex-row justify-content-start mb-1">
      <div class="align-middle my-auto"><i class="fa fa-hashtag text-secondary"></i></div>
      <div class="ml-3">
        <%= note_tag_links(@note, :show) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="mt-3 mb-4 d-flex flex-row justify-content-start">
      <div class="mt-3"><i class="fa fa-chevron-right text-secondary"></i></div>
      <div class="note-content">
        <% if @note.content.blank? %> 
          <div class="text-left mb-3">This item has no content</div>
        <% else %> 
          <%= markdown(@note.content) %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <hr />
    <div class='d-flex flex-row justify-content-start'>
      <div class="align-top"><i class="fa fa-globe text-secondary"></i></div>
      <div class="flex-grow-1 pl-2 ml-1">
        <%= render partial: 'public_link', locals: {note: @note} %>
      </div>
    </div>
  </div>
</div>

<% if current_user.has_backlinks_addon? && (@note.descendants.any? || @note.ancestors.any?) %>
  <div class="row">
    <div class="col-12">
      <hr />
      <div class='d-flex flex-row justify-content-start'>
        <div class="align-middle my-auto"><i class="fa fa-link text-secondary"></i></div>
        <div class="flex-grow-1 pl-2 ml-1">
          <%= render partial: 'links_list', locals: {note: @note} %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.has_attachments_addon? %>
  <% if @note.attachments.any? %>
    <div class="row">
      <div class="col-12">
        <hr />
        <div class='d-flex flex-row justify-content-start'>
          <div class="align-top"><i class="fa fa-paperclip text-secondary"></i></div>
          <div class="flex-grow-1 pl-2 ml-1">
            <%= render partial: 'attachments_list', locals: {note: @note, intent: :show} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% if current_user.has_graph_addon? && (@note.descendants.any? || @note.ancestors.any?) %>
  <div class="row">
    <div class="col-12">
      <hr />
      <div class='d-flex flex-row justify-content-start'>
        <div class="align-top"><i class="fas fa-project-diagram text-secondary"></i></div>
        <div class="flex-grow-1 card" id="note-graph" style="margin-left: 11px;">
          <svg width="960" height="600"></svg>
        </div>
      </div>
    </div>
  </div>
<% end %>