<div class="row">
  <div class="col-12 mt-3 mt-sm-0 col-lg-10">
    <h3>
      <%= @note.title %>
      <% if @note.favorite %>
        <i class="ui yellow star icon"></i>
      <% end %>
    </h3>
  </div>
  <div class="col-12 col-lg-2 text-right">
    <%= link_to 'EDIT',
      edit_note_path(@note.guid),
      class: "btn btn-sm btn-warning text-white",
      data: { turbolinks: false } %>
  </div>
</div>
<hr/>

<div class="row">
  <div class="d-none d-md-block col-md-6">
    <h5>
      <%= link_to @note.category.title, category_path(@note.category.slug),
          class: "badge badge-purple-outline", data: { turbolinks: false } %>
      <%= tag_links(@note) %>
    </h5>
  </div>
  <div class="col-md-6 text-right">
    <% if @note.is_private? %>
      <%= link_to "SHARE TO PUBLIC", make_public_note_path(@note.guid),
                          class: "btn btn-sm btn-purple",
                          data: { turbolinks: false } %>
    <% else %>
      <div class="d-inline-block">
        <div class="input-group input-group-sm middle-aligned mr-2 mb-2 mb-lg-0">
          <input type="text"
                id="public_share_url"
                class="form-control public-input"
                value="<%= @note.public_url %>">
          <div class="input-group-append">
            <button class="btn btn-light copy-to-clipboard"
                    data-clipboard-action="copy"
                    data-clipboard-target="#public_share_url">
              <i class="fa fa-copy"></i>
            </button>
            <%= link_to '<i class="fa fa-eye"></i>'.html_safe,
                        @note.public_url,
                        class: "btn btn-light",
                        data: { turbolinks: false } %>
          </div>
        </div>
      </div>
      <div class="d-inline-block">
        <%= link_to "SHARED TO PUBLIC", make_private_note_path(@note.guid),
                            class: "btn btn-sm btn-success public-btn",
                            data: { turbolinks: false } %>
      </div>
    <% end %>
  </div>
</div>

<% if @note.attachments.any? %>
  <div class="mt-2">
    <div class="row">
      <% @note.attachments.each do |att| %>
        <div class="col-md-12">
          <div class="card bordered rounded-lg shadow-sm bg-white mt-2 mr-0 px-3 py-3">
            <div>
              <div class="text-soft d-inline-block" style="width: 30px;">
                <%= File.extname(att.filename.to_s).strip.upcase[1..-1] %>
              </div>
              <%= link_to att.filename.to_s, url_for(att), target: "_blank", class: 'link-purple ml-2' %>
              <%# image_tag att.preview(resize_to_limit: [100, 100]) if att.previewable? %>
              <div class="float-right">
                <%= link_to "<i class='fa fas fa-download ml-2' style='font-size: 18px;'></i>".html_safe,
                  rails_blob_path(att, disposition: "attachment"), class: 'link-purple ml-2' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr />
<% end %>

<div class="note-content border rounded-lg shadow-sm bg-white mt-2 p-4">
  <%= markdown(@note.content) %>
</div>
