<%= render 'layouts/messages' %>
<div class="body-wrap boxed-container">
  <%= render partial: 'header' %>
  <%= render partial: 'hero_section' %>
  <main>
    <%= render partial: 'features_extended' %>
    <%= render partial: 'product_features' %>
    <%= render partial: 'pricing' %>
  </main>
  <%= render partial: 'footer' %>
</div>
