<%= form_with(model: @inventory_note, html: { class: 'form', novalidate: true }) do |f| %>
  <%= render 'layouts/error_messages', object: f.object %>

  <div class="form-group mb-4">
    <%# f.label :title %>
    <%= f.text_field :title, class: 'form-control form-control-lg', placeholder: 'Untitled note' %>
  </div>

  <div class="form-group mb-4">
    <%= f.text_field :all_tags, class: 'form-control form-control-sm', placeholder: "Tags separated with commas" %>
  </div>


  <div class="form-group mb-4">
    <%# f.label :content %>
    <%= f.text_area :content, size: "30x20", id: 'note-content' %>
  </div>

  <div class="form-group mb-4">
    <div class="pretty p-icon p-default p-round p-smooth p-fill">
      <%= f.check_box :favorite %>
      <div class="state p-warning">
        <i class="icon fa fa-check"></i>
        <%= f.label :favorite %>
      </div>
    </div>
  </div>

  <div class="form-row mb-4">
    <div class="col-12 col-lg-6">
      <div class="form-group">
        <%= f.label :category_id %>
        <%= f.collection_select :category_id, @categories, :id, :title, {},
          {
            id: "form-category-select",
            class: 'form-control selectpicker show-tick',
            data: {live_search: "true", width: '100%'}
          } %>
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="row">
      <div class="col-5">
        <% if @inventory_note.id %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                      "#",
                      class: "btn btn-sm btn-danger",
                      data: { toggle: "modal", target: "#delete-#{@inventory_note.id}", turbolinks: false }
                      %>
          <%= render partial: 'delete_modal' %>
        <% end %>
      </div>
      <div class="col-7 text-right">
        <%= link_to 'BACK', :back, class: "btn btn-sm btn-light", data: { turbolinks: false } %>
        <%= f.submit "SAVE", class: "btn btn-sm btn-purple" %>
      </div>
    </div>
  </div>
<% end %>
