<div class="modal fade text-left" id="add-tag" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-block">
        <button type="button" class="close float-left px-2" data-dismiss="modal">Add a new tag</button>
      </div>
      <div class="modal-body bg-light p-4">
        <%= form_for(@tag, html: { class: "form "} ) do |f| %>
          <%= render 'layouts/error_messages', object: f.object %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control form-control-lg' %>
          </div>
          <div class="actions">
            <div class="row">
              <div class="col-5">
              </div>
              <div class="col-7 text-right">
                <a href="#" data-dismiss="modal" class="btn btn-sm btn-secondary">Cancel</a>
                <%= f.submit "SAVE", class: "btn btn-sm btn-purple" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
