<div class="row">
  <div class="col-2">
    <h3>Tags</h3>
  </div>
  <div class="col-10 text-right">
    <%= add_category_button %>
  </div>
</div>

<hr/>
<br>

<div class="card border rounded-lg shadow-sm p-5">
  <table class="table">
    <thead>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td>
            <%= link_to tag.name, tag_path(tag.name), data: { turbolinks: false }, class: "category-link link-purple" %>
            <% if tag.notes_amount > 0 %>
              <span class="category-amount">(<%= tag.notes_amount %>)</span>
            <% end %>
            <span class="ml-4" style="color: #cccccc;"><%= tag.name %></span>
          </td>
          <td></td>
          <td class="text-center">
          </td>
          <td class="text-right">
            <%= "#{distance_of_time_in_words(Time.now, tag.updated_at)}" %>
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe,
                      "#",
                      class: "btn btn-sm btn-outline-danger ml-2",
                      data: { toggle: "modal", target: "#delete-#{tag.id}", turbolinks: false }
                      %>
            <%= render partial: 'delete_modal', locals: {tag: tag} %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
</div>
