<div class="row">
  <div class="col-12 col-md-6">
    <h3><%= @category.title %></h3>
    <%= @category.description %>
  </div>
  <div class="d-block d-md-none col-12 col-md-6 text-center mt-3">
    <%= link_to '<i class="fa far fa-sticky-note"></i>'.html_safe,
          new_inventory_note_path(params: {category_id: @category.id}),
          class: "btn btn-sm btn-purple",
          data: { turbolinks: false }
          %>
    <% if @category.parent_id.nil? %>
      <%= link_to '<i class="fa fa-folder"></i>'.html_safe,
              new_category_path(params: {parent_id: @category.id}),
              class: "btn btn-sm btn-outline-purple",
              data: { turbolinks: false }
              %>
    <% end %>
    <%= link_to 'EDIT', edit_category_path(@category),
      class: "btn btn-sm btn-warning", data: { turbolinks: false } %>
    <%= link_to 'BACK', categories_path, class: "btn btn-sm btn-secondary"  %>
  </div>
  <div class="d-none d-md-block col-12 col-md-6 text-right">
    <%= link_to 'Create Note',
          new_inventory_note_path(params: {category_id: @category.id}),
          class: "btn btn-sm btn-purple",
          data: { turbolinks: false }
          %>
    <% if @category.parent_id.nil? %>
      <%= link_to 'Create Subcategory',
              new_category_path(params: {parent_id: @category.id}),
              class: "btn btn-sm btn-outline-purple",
              data: { turbolinks: false }
              %>
    <% end %>
    <%= link_to 'EDIT', edit_category_path(@category),
      class: "btn btn-sm btn-warning", data: { turbolinks: false } %>
    <%= link_to 'BACK', :back, class: "btn btn-sm btn-secondary"  %>
  </div>
</div>

<hr/>

<% if @category.subcategories.any? %>
  <div class="mb-3">
    <% @category.subcategories.sort_by(&:title).each do |subcategory| %>
      <%= link_to subcategory.title, subcategory, class: "badge badge-purple-outline mb-1", data: { turbolinks: false } %>
    <% end %>
  </div>
<% end %>

<h5>NOTES</h5>
<% if @all_notes.any? %>
  <%= render partial: 'inventory/notes/notes_list',
    locals: {inventory_notes: @all_notes, notes_list: false} %>
<% else %>
  <%= blank_slate(:notes) %>
<% end %>
