<div class="row">
  <div class="col-2">
    <h3>Wiki</h3>
  </div>
  <div class="col-10 text-right">
  </div>
</div>

<hr/>
<br>

<table class="table card border rounded-lg shadow-sm px-5 py-4">
  <thead>
  </thead>
  <tbody>
    <% @categories.includes([:parent, :notes]).each do |category| %>
      <tr>
        <td class="pl-0 pb-0 border-0">
            <%= link_to category.full_title, category, data: { turbolinks: false }, class: "category-link text-bold link-purple" %>
            <% unless category.description.blank? %>
              <span class="ml-2" style="color: #cccccc;"><%= category.description %></span>
            <% end %>
            <% if category.notes.any? %>
              <br/>
              <div class="ml-4 mt-2">
                <%= render partial: 'notes/notes_list_wiki',
                  locals: {notes: category.notes.order(favorite: :desc, title: :asc), notes_list: false, small: true} %>
              </div>
            <% end %>
            <% if category.subcategories.size > 0 %>
              <div class="ml-4">
                <% category.subcategories.includes([:notes]).ordered_by_title.each do |cat| %>
                  <div class="subcategory-item">
                    <%= link_to cat.title, cat, data: { turbolinks: false }, class: 'subcategory-link text-emphasis link-purple' %>
                    <% if cat.notes.any? %>
                      <br/>
                      <div class="ml-4">
                        <%= render partial: 'notes/notes_list_wiki',
                          locals: {notes: cat.notes.order(favorite: :desc, title: :asc), notes_list: false} %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
