<header class="navbar navbar-expand-lg navbar-light fixed-top static-top bg-white p-2 wt-navbar text-center">
  <div class="navbar-brand col-2 text-lg-center logo-item">
    <%= link_to 'wreeto', base_url, class: "logo text-dark", data: { turbolinks: false } %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarWtBase" aria-controls="navbarWtBase"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <% if user_signed_in? %>
    <div class="navbar-collapse collapse pr-2 py-md-0" id="navbarWtBase">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-sm-block d-lg-none py-1 py-md-0">
          <%= link_to "Notes", notes_path, class: "nav-link text-center", data: { turbolinks: false } %>
        </li>
        <li class="nav-item d-sm-block d-lg-none py-1 py-md-0">
          <%= link_to "Categories", categories_path, class: "nav-link text-center", data: { turbolinks: false } %>
        </li>
        <li class="nav-item d-sm-block d-lg-none py-1 py-md-0">
          <%= link_to "Wiki", wiki_path, class: "nav-link text-center", data: { turbolinks: false } %>
        </li>
        <li class="dropdown py-1 py-md-0">
          <a class="nav-link dropdown-toggle pl-sm-2 mt-sm-2 mr-3" href="#" id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.username %>
            <i class="dropdown icon"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow-sm pt-3 pb-2 text-center text-lg-left" aria-labelledby="navbarDropdown">
            <%= link_to 'Profile Settings', edit_user_registration_path,
              class: 'dropdown-item', data: { turbolinks: false } %>
            <%= link_to 'Import notes (beta)', import_zip_path,
              class: 'dropdown-item', data: { turbolinks: false } %>
            <%= link_to 'Export notes', download_export_zip_path,
              class: 'dropdown-item', data: { turbolinks: false } %>
            <hr class="my-2" />
            <%= link_to 'Help', pages_help_path,
              class: 'dropdown-item', data: { turbolinks: false } %>
            <hr class="my-2" />
            <%= link_to "Log out", main_app.destroy_user_session_url,
              method: :delete, class: 'dropdown-item' %>
          </div>
        </li>
      </ul>
    </div>

  <% else %>
    <div class="navbar-collapse collapse pr-2" id="navbarWtBase">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "LOGIN", main_app.new_user_session_url, class:'btn btn-sm btn-light' %>
          <%= link_to 'SIGN UP', new_user_registration_path, class: "btn btn-sm btn-purple" %>
        </li>
      </ul>
    </div>
  <% end %>
</header>
