<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>wreeto</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application-backend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>" style="background-color: #eee;">
    <%= render 'layouts/messages' %>

    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>

    <div id='thought-modal-content'></div>
  </body>

</html>
