<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>wreeto.com - A simple workspace to help you focus</title>
    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/google_analytics' %>
    <%= stylesheet_pack_tag 'application-landing-page', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <%= javascript_pack_tag 'application-landing-page', 'data-turbolinks-track': 'reload' %>
</head>
<body class="is-boxed has-animations <%= controller_name %> <%= action_name %>">
  <%= yield %>
  <!-- <div class="landing-logo text-center">wreeto</div> -->
</body>
</html>
